<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>org.escalade.app.servlets.Servlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>Inscription</servlet-name>
        <servlet-class>org.escalade.app.servlets.Inscription</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Inscription</servlet-name>
        <url-pattern>/inscription</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Suppression</servlet-name>
        <servlet-class>org.escalade.app.servlets.Suppression</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Suppression</servlet-name>
        <url-pattern>/suppression</url-pattern>
    </servlet-mapping>
    
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <include-prelude>taglibs.jsp</include-prelude>
        </jsp-property-group>
    </jsp-config>
</web-app>